pandas~=2.2.3
plotly~=6.1.2
dash~=3.0.4
selenium~=4.33.0
pip
selenium
pytest
Faker
dotenv~=0.9.9
flask
requests~=2.32.3
python-dotenv~=1.1.0
numpy~=2.2.6
pyqt5~=5.15.9
matplotlib~=3.7.1
geonamescache~=2.0.0
seaborn~=0.13.2
