html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin-left: 10px;
    font-family: "Open Sans, sans-serif";
}

.header-style {
    font-size: 24px;
    color: #2c3e50;
    margin: 10px 0;
}

h2 {
    margin: 0 0 0.5rem 0;
}

#city-input {
    width: 28rem;
    padding: 10px 20px 10px 10px;
    margin: 5px 0;
    border: 1px solid gray;
    border-radius: 3px;
    font-family: "Open Sans, sans-serif";
}

#data-type {
    width: 30rem;
    margin: 10px 0;
}

.DateInput input {
    width: 100%;
    font-family: "Open Sans, sans-serif";
    font-size: 16px !important;
    padding: 8px 12px !important;
}

.CalendarDay {
    font-size: 14px !important;
}

.DateInput input::placeholder {
    font-size: 16px !important;
    font-family: "Open Sans, sans-serif";
    opacity: 1;
}

.DateInput--with-caret::after {
    border-top-color: #666 !important;
    border-radius: 3px;
}

.data-table {
    font-family: "Open Sans, sans-serif";
    margin: 20px;
}

#start-year-selector, #end-year-selector {
    width: 190px !important;
    font-size: 16px;
    margin: 5px 0;
}

.SingleDatePickerInput {
    border-radius: 3px;
    width: 10rem !important;
    background-color: white !important;
    margin: 5px 0;
}

.react-datepicker__year-select {
    margin: 0 5px;
    height: 28px;
    width: 60px;
}

.react-datepicker__year-dropdown {
    height: 200px;
    overflow-y: scroll;
}

#submit-button, #visualize-button {
    background-color: #4CAF50;
    color: white;
}

#download-button, #clean-button {
    border: 1px solid black;
}

#import-button {
    background-color: #C99A5AFF;
}

.Button {
    margin: 10px 20px 10px 0;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}

.legend .traces path {
    stroke-width: 4px !important;
}

#date-range {
    margin: 20px auto;
    font-size: 16px;
    display: block;
    width: 100%;
    text-align: center;
}

#left-form-wrapper > * {
    margin-top: 5px \;
    margin-bottom: 4px !important;
}

.date-label {
    margin-top: 10px !important;
}

.error-message {
    'color': 'red',
    'margin': '20px'
}